/* KanbanBoard.css */
.kanban-board {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.kanban-column {
  width: 30%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  margin: 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kanban-column h3 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}

.kanban-column:last-child {
  margin-right: 0;
}
